.coupon-container {
  width: 100vw;
  overflow: hidden;
  padding-bottom: 200px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  &.disable-scroll{
    overflow-y: hidden;
  }
  .coupon-image {
    min-height: 271px;
    background-color: #ececec;
    .img{
      width: 100%;
      vertical-align: bottom;
    }
  }

  .coupon_detali_top {
    padding: 25px;
    padding-bottom: 0;
    min-height: 56px;

    .detail_top_title {
      font-size: 18px;
      color: #000;
      font-weight: 600;

    }

    .d-flex {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
    }

    // 类型
    .coupon-type {
      margin-left: 6px;
      font-size: 10px;
      color: #ffffff;
      padding: 2px 6px;
      border-radius: 50px;
      border-top-left-radius: 0;
      background: linear-gradient(90deg, #F0C17B 0%, #FADBAD 100%);
      white-space: nowrap;
      &.type-discount {
        background: linear-gradient(90deg, #F0C17B 0%, #FADBAD 100%);

      }
    }

    .coupon-val-bar {
      display: flex;
      justify-content: space-between;
      padding-top: 2px;
    }




    .detali_r {
      position: relative;

      .background_img {
        width: 44px;
        height: 17px;
        margin-left: 5px;
        margin-top: 20px;
      }

      .coupon_item {
        position: absolute;
        top: 4px;
        left: 8px;
        font-size: 10px;
        color: #ffffff;
      }

    }

    // 9.5折、8000元， 无门槛券
    .coupon-num {
      font-size: 14px;

      // 折扣、金额（元）
      .coupon-value {
        color: #E20000;
        font-size: 24px;
        font-weight: 600;
      }

      .coupon-unit {
        color: #E20000;
        font-size: 10px;
      }

      .min-point {
        color: #333333;
        margin-left: 18px;
      }

      .sunnumber {
        color: #333333;
      }

      .discount {
        font-size: 10px;
        color: #E20000;
        margin-left: 13px;

        span {
          min-width: 50px;
        }
      }

    }
  }

  .usuer_contant {
    padding: 25px;
    padding-bottom: 0;
    color: #333333;
    border-top: 10px solid #f5f5f5;

    .user_rule {
      font-size: 14px;
      font-weight: 900;
    }
    .address-detail{
      margin-top: 10px;
      color: #666;
      font-size: 12px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      img{
        width: 8px;
        height: 11px;
        margin-right: 5px;
      }
    }
    .user_rule_p {
      margin-top: 10px;
      font-size: 12px;
      //font-weight: 600;
      display: flex;

      span {
        color: #333;
        margin-right: 10px;
        font-size: 12px;

      }

      .user_rule_key {
        padding: 0 8px;
        font-size: 10px;
        background: rgb(255,244,243);
        color: red;
        font-weight: normal;
        line-height: 18px;
        height: 18px;
        border-radius: 2px;
        text-align: center;
      }
    }
  }

  // 进度条
  .progress-container-wrap{
    width: 100%;
    padding-bottom: 15px;
    .progress-container {
      width: 160px;
      color: #999999;
      font-size: 10px;
      display: flex;
      align-items: center;
      padding-top: 15px;
      padding-left: 25px;

      .progress-bar {
        flex: 1;
        display: flex;
        background-color: #ececec;
        height: 8px;
        border-radius: 10px;
        margin: 0 10px;
        overflow: hidden;

        .progress {
          width: 40px;
          border-radius: 10px;
          background-color: #E20000;

        }
      }
    }
  }

  .user_konw_box {
    padding: 15px;
  }
  .disabled-time{
    display: flex;
    color: #000000;
    //font-weight: 600;
    .user_rule_key{
      margin-right: 10px;
    }
    .store-link{
      color: rgb(150, 150, 150);
      span{
        margin: 0;
      }
    }
  }
  .user_konw {
    padding: 10px;
    min-height: 100px;
    background: #FFFFFF;
    //box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.07);
    border-radius: 10px;

    .user_kowns {
      font-size: 14px;
      color: #333333;
      font-weight: 900;
    }

    .rich_box {
      font-size: 12px;
      padding-top: 10px;

      .setColor {
        color: #e20000;
      }
    }

  }

  .bottom {
    width: 165px;
    height: 40px;
    background: #E20000;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #fff;
  }
}

.footer {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
  background-color: #fff;
    .receive_coupon-share {
      width: 165px;
      height: 40px;
      border: 2px solid #E20000;
      border-radius: 20px;
      text-align: center;
      line-height: 40px;
      margin-right: 15px;
      color: #E20000;
    }
	.receive_coupon-share-1{
		width: 165px;
		height: 40px;
		border-radius: 20px;
		border: 1px solid #CBD7E1;
		color: #CBD7E1;
		text-align: center;
		line-height: 40px;
	}
}
.footer_1{
	display: flex;
	justify-content: center;
}
.card {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 80vw;
  text-align: center;


  .coupon-qrcode {
    height: 180px;
    width: 180px;
  }

  .copy-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    .txt-qrcode {
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .icon-copy {
      width: 20px;
      height: 20px;
      color: #000;
      fill: black;
      background-size: contain;
      background-image: url('data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiIgd2lkdGg9IjIwMCIgaGVpZ2h0PSIyMDAiIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTM5NC42NjcgMTA2LjY2N2g0NDhhNzQuNjY3IDc0LjY2NyAwIDAgMSA3NC42NjYgNzQuNjY2djQ0OEE3NC42NjcgNzQuNjY3IDAgMCAxIDg0Mi42NjcgNzA0aC00NDhBNzQuNjY3IDc0LjY2NyAwIDAgMSAzMjAgNjI5LjMzM3YtNDQ4YTc0LjY2NyA3NC42NjcgMCAwIDEgNzQuNjY3LTc0LjY2NnptMCA2NEExMC42NjcgMTAuNjY3IDAgMCAwIDM4NCAxODEuMzMzdjQ0OEExMC42NjcgMTAuNjY3IDAgMCAwIDM5NC42NjcgNjQwaDQ0OGExMC42NjcgMTAuNjY3IDAgMCAwIDEwLjY2Ni0xMC42Njd2LTQ0OGExMC42NjcgMTAuNjY3IDAgMCAwLTEwLjY2Ni0xMC42NjZoLTQ0OHpNNjQwIDc2OGEzMiAzMiAwIDAgMSA2NCAwdjc0LjY2N2E3NC42NjcgNzQuNjY3IDAgMCAxLTc0LjY2NyA3NC42NjZoLTQ0OGE3NC42NjcgNzQuNjY3IDAgMCAxLTc0LjY2Ni03NC42NjZ2LTQ0OEE3NC42NjcgNzQuNjY3IDAgMCAxIDE4MS4zMzMgMzIwSDI1NmEzMiAzMiAwIDAgMSAwIDY0aC03NC42NjdhMTAuNjY3IDEwLjY2NyAwIDAgMC0xMC42NjYgMTAuNjY3djQ0OGExMC42NjcgMTAuNjY3IDAgMCAwIDEwLjY2NiAxMC42NjZoNDQ4QTEwLjY2NyAxMC42NjcgMCAwIDAgNjQwIDg0Mi42NjdWNzY4eiIvPjwvc3ZnPg==');
    }

  }

  // 按钮公共样式
  .btn {
    width: 165px;
    height: 50px;
    background: #F0C17B;
    border-radius: 25px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 50px 0 66px;

    &:active {
      background: #d3a869;
    }
  }

}

.canvas_box {
  position: fixed;
  top: 0;
  left: 999px;
  width: 335px;
  height: 472px;
}

.share_btn {
  width: 100%;
  height: 102px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  display: flex;

  .share-item {
    position: relative;
    flex: 1;
    text-align: center;
    padding-top: 20px;

    .share-btn {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
    }

    img {
      height: 48px;
      width: 48px;
    }

    div {
      font-size: 11px;
      color: #333333;
    }


  }
}

.tips_inbox {
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #333;
  font-size: 18px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  font-weight: 600;
  .tips_text {
  font-weight: 400;
  font-size: 14px;
  color: #666;
  padding: 20px 20px 40px;
  }
  .tips_btn {
  background-color: #f0c17b;
  width: 150px;
  height: 35px;
  border-radius: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  margin: 0 auto;
  }
}
