
.btn-rule{
  width: 30px;
  height: 80px;
  writing-mode: vertical-rl;
  background-color: #006E9D;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  top:20px;
  right: 0;
  font-size: 12px;
  letter-spacing: .2em;
}
.d-flex{
  display: flex;
  justify-content: space-between;
}
.page{
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  overflow: auto;
  background-position: center;
}

$text-color:#F1BF85;
.lucky-draw-container{
  height: 315px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin:  10px;
  padding: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: $text-color;
  text-align: center;
  line-height: 2em;
  font-size: 12px;
  .title{
    font-size: 16px;
    .count{
      font-weight: bold;
      font-size: 18px;
      padding: 6px;
      color: #FFD14A;
    }
  }
  .tips{
    font-size: 10px;
  }
  .my-lucky-list{
    // text-decoration: underline ;
    // margin-top: 20px;
  }
}

// .lucky-h{
//   margin-right: 15px;
//   img{
//     height: 42px;
//     width: 160px;

//   }

// }
.lucky-sha{
  height: 42px;
  width: 180px;
  padding: 0;
  background: transparent;
  &::after{
    content: none;
  }
  &>img{
    height: 60px;
    width: 267px;

  }

}
.lucky-draw{
  display: flex;
  flex-wrap: wrap;
  // background-color: #0C3061;
  border-radius: 10px;
  padding: 3px;
  .lucky-btn-container{
    width:33.33%;
    height: 80px;
    display: flex;
  }
  .lucky-btn{
    padding:5px;
    margin:3px;
    flex:1;
    background-color: #FEFCE1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FDD158;
    border-bottom-width: 4px;
    transition: .1s ease-in;
    transform: scale(.9);
    &.active{
      background-color: #FFEE07;
      transform: scale(1);
    }
    .btn-img{
      width:100%;
      height:100%;
    }
  }
  // 抽奖按钮
  #btn0{
    background: #FF4C4C;
    border-color: #FF0000;
  }
}

// 中奖了
.pop-congratulations{
  border-radius: 10px;
  background: url(./bt-card.png) no-repeat center;
  background-size: 100% 100%;
  text-align: center;
  width: 300px;
  color: #F0C17B;
  position: relative;

  .title{
    font-size: 20px;
    padding:20px 0;
  }
  .prize-img{
    height:130px;
    width: 130px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin:auto;
  }
  .tips{
    padding: 20px 0;
    
  }
  .ctl-bar{
    padding:25px 0;
    margin: 0 20px;
    border-top: 2px dashed #eee;
    .btn{
      color: #fff;
      background: #F0C17B;
      border-radius: 10px;
      line-height: 50px;
      &:active{
        background: #ddb16f;
      }
    }
  }
  .close{
    position: absolute;
    bottom: -35px;
    width: 24px;
    height: 24px;
    left: 50%;
    transform: translate(-50%);
    img {
      width: 100%;
      height: 100%;
    }
  }
}

// 活动规则
.pop-rule, .pop-history{
  border-radius: 10px;
  background-color: #fff;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  .title{
    color: #F0C17B;
    padding: 20px;
    padding-bottom: 10px;
  }
  .content{
    flex: 1;
    overflow: auto;
    padding: 0 20px;
  }
  .footer{
    padding:10px;
    position: relative;
    justify-content: center;
    text-align: center;
    display: flex;
    .btn{
      color: #fff;
      background: #F0C17B;
      border-radius: 10px;
      line-height: 40px;
      width: 100px;
      &:active{
        background: #ddb16f;
      }
    }
  }
}
.pop-history{
  height: 500px;
  .content-item{
    padding-top: 20px;
  }
}

.small_text {
  padding-left: 10px;
  padding-bottom: 5px;
  text-indent: 1rem;
}
.big_text {
  padding-bottom: 5px;
  font-weight: 600;
}