// 背景颜色-激活状态
$cell-background-color-active: $ui-color-ededed;

// 底部线条颜色
$cell-bottom-line-color: $ui-color-ededed;

// 标题字体颜色
$cell-title-font-color: $ui-color-09122b;

// 值字体颜色
$cell-value-font-color: $ui-color-09122b;

// 背景颜色1
$cell-background-color1: $ui-color-ffffff;

// 背景颜色2
$cell-background-color2: $ui-color-ffffff;