// 背景色1
$group-background-color1: $ui-color-ffffff;
// 背景色2
$group-background-color2: $ui-color-ffffff;
// 标题字体颜色
$group-title-color: $ui-color-09122b;
// 底部字体颜色
$group-footer-text-color: $ui-color-09122b;