/**
 ************************************************
 * 组件 input 颜色在下面定义
 ************************************************
 */
// 输入框文字颜色
$app-input-color: $ui-color-09122b;
// 输入框背景颜色1
$app-input-bg-start-color: $ui-color-ffffff;
// 输入框背景颜色2
$app-input-bg-end-color: $ui-color-ffffff;
// 输入框提示文字颜色
$app-input-placeholder-color: $ui-color-c1c1c1;
// 输入框禁用状态颜色
$app-input-disabled-color: $ui-color-ededed;
// 输入框左边标题文字颜色
$app-input-label-color: $ui-color-09122b;
// 输入框左边标题下提示文字颜色
$app-input-tip-color: $ui-color-888888;
// 输入框边框颜色
$app-input-border-color: $ui-color-c1c1c1;
// 输入框圆角弧度
$app-input-radius: 0;