// tab 栏背景颜色
$app-tab-background-color: $ui-color-ffffff;
// tab 选项文字颜色
$app-tab-text-color: $ui-color-09122b;
// tab 选项文字激活颜色
$app-tab-text-active-color: $ui-color-ea2c1d;
// tab 选项文字禁用颜色
$app-tab-text-disable-color: $ui-color-c1c1c1;
// tab 底部条颜色
$app-tab-bar-color: $ui-color-09122b;
// tab 底部条激活颜色
$app-tab-bar-active-color: $ui-color-ea2c1d;
// tab 底部条禁用颜色
$app-tab-bar-disable-color: $ui-color-c1c1c1;